<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700%7CMerriweather:400,300%7CRaleway:800,600,500,400,300%7CLibre+Baskerville:400,400italic%7CMontserrat%7CRoboto:300%7COpen+Sans:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700%7cOpen+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>

    <title>MACRO SKY</title>
    <!-- META TAGS -->
    <meta name="description" content="Macro Skies" />
    <meta name="keywords" content="Macro Skies Melbourne" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <!-- CSS Stylesheets-->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/lineicons.css" />
    <link rel="stylesheet" href="css/isotope.css" />
    <link rel="stylesheet" href="css/storm.css" />
    <link rel="stylesheet" href="css/macro.css" />
    <link rel="stylesheet" href="js/owl-carousel/owl.carousel.css" />
    <link rel="stylesheet" href="js/owl-carousel/owl.theme.css" />
    <link rel="stylesheet" href="js/owl-carousel/owl.transitions.css" />
    <link rel="stylesheet" href="css/YTPlayer.css" />
    <link rel="stylesheet" type="text/css" href="css/color/black.css">

    <!--[if lt IE 9]>
        <script src="./js/html5shiv.js"></script>
        <script src="./js/respond.js"></script>
    <![endif]-->
</head>
<body data-ng-app="macroApp" data-ng-cloak>

    <div data-ng-controller="macroAppCtrl">

        <div id="ip-container" class="ip-container">
            <header class="ip-header">
                <div class="ip-logo">
                    <!--<img src="images/logo/logo_macro_b.png" alt="logo" />-->
                    <img src="images/logo/macro_logo_gold.png" alt="LOGO MACRO" />
                </div>
                <div class="ip-loader">
                    <svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
                        <path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z" />
                        <path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z" />
                    </svg>
                </div>
            </header>

            <header id="header">
                <div class="jt_row container">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand normal" href="#home-slider">
                            <img class="centerlogo" src="images/logo/logo_macro_w.png" alt="LOGO MACRO" />
                            <!--<img class="centerlogo" src="images/logo/macro_logo_gold.png" alt="LOGO MACRO" />-->
                        </a>
                        <a class="navbar-brand mini" href="#home-slider">
                            <!--<img src="images/logo/logo_macro_text_w.png" />-->
                            <img id="bar-logo" src="images/logo/macrosky_logo_text_w.png">
                        </a>
                    </div>
                    <nav class="collapse navbar-collapse navbar-main-collapse">
                        <ul id="nav" class="nav navbar-nav navigation">
                            <li class="page-scroll menu-item"><a id="homeie" href="#home-slider">{{'TXT_MENU_HOME' | translate}}</a></li>
                            <li class="page-scroll menu-item"><a href="#features">{{'TXT_MENU_FEATURES' | translate}}</a></li>
                            <li class="page-scroll menu-item"><a href="#about1">{{'TXT_MENU_ABOUT' | translate}}</a></li>
                            <li class="page-scroll menu-item"><a href="#gallery">{{'TXT_MENU_GALLERY' | translate}}</a></li>
                            <li class="page-scroll menu-item"><a href="#location">{{'TXT_MENU_LOCATION' | translate}}</a></li>
                            <li class="page-scroll menu-item"><a href="#contact">{{'TXT_MENU_Contact' | translate}}</a></li>
                            <li class="page-scroll menu-culture">
                                [ <span data-ng-click="changeLanguage('en')">{{'BTN_TEXT_EN' | translate}}</span> | <span data-ng-click="changeLanguage('cn')">{{'BTN_TEXT_CN' | translate}}</span> ]
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>

        <!-- BEGIN HOME SLIDER SECTION -->
        <section id="home-slider" class="full">
            <div id="owl-main" class="owl-carousel">
                <div class="item"><img src="images/bg/Marco_CITY-AERIAL_Image_Building-Outline_dark.jpg" alt="Marco Skies City" /></div>
                <div class="item"><img src="images/bg/Marco_MELBOURNE-GRAMMAR_Image_dark.jpg" alt="Marco Skies Grammar" /></div>
                <div class="item"><img src="images/bg/Marco_living_dining_kitchen.jpg" alt="Marco Skies kitchen" /></div>
                <div class="item"><img src="images/bg/Marco_gym-and-theatre.jpg" alt="Marco Skies gym" /></div>
                <div class="item"><img src="images/bg/Marco_EXTERIOR-SECTION_BAY_Render_dark.jpg" alt="Marco Skies Bay" /></div>
            </div>
            <div class="slide-content">
                <div id="owl-main-text" class="owl-carousel">
                    <div class="item">
                        <h2>{{'TXT_MACRO_SKY' | translate}}</h2>
                    </div>
                    <div class="item">
                        <h2>{{'TXT_EXCEPTIONAL_LIVING' | translate}}</h2>
                    </div>
                    <div class="item">
                        <h2>{{'TXT_DISCOVER_EXCEPTIONAL' | translate}}</h2>
                    </div>

                </div>

            </div>
           
            <div class="slide-subtitle">
               
                <p>
                    <a id="registerme" href="#contact" style="color:#fff;">
                        {{'TXT_REGISTER' | translate}}<br />
                        {{'TXT_CALL_US' | translate}} +61 3 9696 7777
                    </a>
                </p>
                <div class="slide-sep"></div>
            </div>
        </section>
        <!-- END HOME SLIDER SECTION -->
        <!-- BEGIN FEATURES SECTION -->
        <section id="features" class="section center normal">
            <div class="container">

                <div class="jt_row jt_row-fluid row">
                    <div class="col-md-12 jt_col column_container">
                        <h2 class="title center">{{'TXT_MENU_FEATURES' | translate}}</h2>
                    </div>

                </div>
                <div class="jt_row jt_row-fluid row">
                    <div class="col-md-4 jt_col column_container">
                        <i class="fa fa-diamond"></i>
                        <h4 class="title title--features">{{'TXT_APARTMENT' | translate}}</h4>
                        <div class="features__content">
                            {{'TXT_APARTMENT_LONG' | translate}}
                        </div>
                    </div>
                    <div class="col-md-4 jt_col column_container">
                        <i class="fa fa-coffee"></i>
                        <h4 class="title title--features">{{'TXT_COMMUNITY' | translate}}</h4>
                        <div class="features__content">
                            {{'TXT_COMMUNITY_LONG' | translate}}
                        </div>
                    </div>
                    <div class="col-md-4 jt_col column_container">
                        <i class="fa fa-map-marker"></i>
                        <h4 class="title title--features">{{'TXT_LOCATION' | translate}}</h4>
                        <div class="features__content">
                            {{'TXT_LOCATION_LONG' | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END FEATURES SECTION -->
        <!-- BEGIN VIDEO SECTION -->
        <section id="video" class="section video center">
            <div class="container">
                <div class="jt_row jt_row-fluid row">
                    <div class="col-md-12 jt_col column_container">
                        <!-- http://player.vimeo.com/video/77464707?autoplay=1 -->
                        <a class="popup-youtube" href="https://vimeo.com/77464707"><img data-sr="scale up 50%" src="images/play2.png" alt="" /></a>
                        <h3>
                            {{'TXT_VIDEO_TEXT' | translate}}
                        </h3>
                    </div>

                </div>
            </div>
        </section>
        <!-- END VIDEO SECTION -->
        <!-- BEGIN ABOUT1 SECTION -->
        <section id="about1" class="section responsive">
            <div class="container">
                <div class="jt_row jt_row-fluid row">
                    <div class="col-md-6 align-right">
                        <div class="voffset20"></div>
                        <img src="images/fine/Marco_hero-sunset-O.jpg" />
                    </div>
                    <div class="col-md-6">
                        <h3 class="title thin">{{'TXT_EXCEPTIONAL_COLLABORATION' | translate}}</h3>
                        <div class="responsive__content">
                            <span class="thin">{{'TXT_EXCEPTIONAL_COLLABORATION_DEVELOPER' | translate}}</span>
                            <p>
                                {{'TXT_EXCEPTIONAL_COLLABORATION_DEVELOPER_LONG' | translate}}
                            </p>
                            <span class="thin">{{'TXT_EXCEPTIONAL_COLLABORATION_ARCHITECT' | translate}}</span>
                            <p>
                                {{'TXT_EXCEPTIONAL_COLLABORATION_ARCHITECT_LONG' | translate}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END ABOUT1 SECTION -->
        <!-- BEGIN ABOUT2 SECTION -->
        <section id="about2" class="section resolution">
            <div class="container">
                <div class="jt_row jt_row-fluid row">
                    <div class="col-md-6 align-right">
                        <h3 class="title thin">{{'TXT_EXCEPTIONAL_LIVING' | translate}}<br /> – {{'TXT_MACRO_SKY' | translate}}</h3>
                        <div class="resolution__content">
                            <p>{{'TXT_EXCEPTIONAL_LIVING_LONG' | translate}}</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 align-left">
                        <img src="images/fine/Marco_living_dining_kitchen_730.jpg" />
                    </div>
                </div>

            </div>
        </section>
        <!-- END ABOUT2 SECTION -->
        <!-- BEGIN ABOUT3 SECTION -->
        <section id="about3" class="section about-us">
            <div class="container full-width">
                <div class="jt_row jt_row-fluid row">
                    <div class="col-md-6 jt_col column_container" id="our-studio-presentation">
                        <div class="voffset50"></div>
                        <h3 class="sub-title thin">{{'TXT_DISCOVER_EXCEPTIONAL' | translate}}</h3>
                        <div class="about-us__content">
                            <p>
                                {{'TXT_DISCOVER_EXCEPTIONAL_LONG' | translate}}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 jt_col column_container">
                        <div class="carousel-wrapper full with_buttons with_pagination round_inner">
                            <div id="owl-studio" class="owl-carousel">
                                <div class="item">
                                    <img src="images/studio/Marco_STATE-LIBRARY_Image.jpg" />
                                </div>
                                <div class="item">
                                    <img src="images/studio/Marco_ALBERT-PARK-GOLF-COURSE_Image.jpg" />
                                </div>
                                <div class="item">
                                    <img src="images/studio/Marco_MCG_Image.jpg" />
                                </div>
                                <div class="item">
                                    <img src="images/studio/Marco_CHINATOWN_Image.jpg" />
                                </div>
                                <div class="item">
                                    <img src="images/studio/Marco_CROWN-NIGHT_Image.jpg" />
                                </div>
                                <div class="item">
                                    <img src="images/studio/Marco_BEACH_Image.jpg" />
                                </div>
                                <div class="item">
                                    <img src="images/studio/Marco_FLINDERS-ST-STATION_Image.jpg" />
                                </div>
                                <div class="item">
                                    <img src="images/studio/Marco_RMIT_Image.jpg" />
                                </div>
                                <div class="item">
                                    <img src="images/studio/Marco_Sth-Melb-Market_Image.jpg" />
                                </div>
                                <div class="item">
                                    <img src="images/studio/Marco_YARRA-RIVER_Image.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="voffset100"></div>
                    <div class="voffset50"></div>
                </div>
            </div>
        </section>
        <!-- END ABOUT3 SECTION -->
        <!-- BEGIN GALLERY SECTION -->
        <section id="gallery" class="section creative-team center child">
            <div class="container full-width">
                <div class="row">
                    <div class="col-md-12 jt_col column_container">
                        <h3 class="title thin">{{'TXT_MENU_GALLERY' | translate}}</h3>
                        <p class="subtitle">{{'TXT_GALLERY_LONG' | translate}}</p>
                    </div>
                </div> <!-- End jt_row -->
            </div> <!-- End .container -->
        </section>
        <!-- END GALLERY SECTION -->
        <!-- BEGIN GALLERY SLIDER SECTION -->
        <section id="gallery-slider" class="section about-us">
            <div class="container full-width">
                <div class="jt_row jt_row-fluid row">

                    <div class="col-md-12 jt_col column_container">
                        <div class="carousel-wrapper full with_buttons with_pagination round_inner">
                            <div id="owl-gallery" class="owl-carousel">
                                <div class="item"><img src="images/gallery/Marco_gym-and-theatre_800.jpg" alt="" /></div>
                                <div class="item"><img src="images/gallery/Marco_LIVING-ROOM_Render_800.jpg" alt="" /></div>
                                <div class="item"><img src="images/gallery/Marco_LOBBY_Render_800.jpg" alt="" /></div>
                                <div class="item"><img src="images/gallery/Marco_POOL_Render_800.jpg" alt="" /></div>
                                <div class="item"><img src="images/gallery/Marco_PRIVATE-DINING-ROOM_Render_800.jpg" alt="" /></div>
                                <div class="item"><img src="images/gallery/Balston-Bathroom-5k_C_800.jpg" /></div>
                                <div class="item"><img src="images/gallery/Balston-St_Kitchen_Living_5K_800.jpg" /></div>
                                <div class="item"><img src="images/gallery/Kitchen-Elevation_01_800.jpg" /></div>
                                <div class="item"><img src="images/gallery/Kitchen-Elevation_03_800.jpg" /></div>
                                <!--<div class="item"><img src="images/gallery/Marco_sizechart_1.jpg" alt="" /></div>-->
                                <!--<div class="item"><img src="images/gallery/Marco_sizechart_2.jpg" alt="" /></div>-->
                            </div>
                        </div>
                    </div>
                    <div class="voffset100"></div>
                    <div class="voffset50"></div>
                </div>
            </div>
        </section>
        <!-- END GALLERY SLIDER SECTION -->
        <!-- BEGIN MAP SECTION -->
        <section id="location" class="section center normal" style="background-color:#fafafa;">
            <div class="container">
                <div class="row" style="padding-bottom: 80px;">
                    <div class="col-md-12 jt_col column_container">
                        <h3 class="title thin">{{'TXT_MENU_LOCATION' | translate}}</h3>
                        <!--<p class="subtitle">{{'TXT_LOCATION_TEXT' | translate}}</p>-->
                        <p class="subtitle">42-48 Balston St Southbank VIC 3006</p>
                    </div>
                </div>
            </div>
        </section>
        <div id="maps" class="normal">

            <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
            <div class="map-content normal">
                <div class="wpgmappity_container inner-map" id="wpgmappitymap"></div>
            </div>
        </div>
        <!-- END MAP SECTION -->
        <!-- BEGIN CONTACT SECTION -->
        <section id="contact" class="section contact center">
            <div class="container full-width">
                <div class="jt_row jt_row-fluid row">
                    <div class="col-md-12 jt_col column_container">
                        <h3 class="supertitle">SAY HELLO! <span>{{'TXT_IN_TOUCH' | translate}}</span></h3>
                    </div>
                </div>
                <div class="jt_row jt_row-fluid">
                    <div class="col-md-3">
                        <p><i class="fa fa-mobile-phone fa-lg" style="font-size:32px;"></i><span>{{'TXT_CALL_AT' | translate}}</span><span>+61 3 9696 7777</span></p>

                    </div>
                    <div class="col-md-3">
                        <p>
                            <i class="fa fa-map-marker fa-lg" style="font-size:32px;"></i>
                            <span>{{'TXT_VISIT_DISPLAY' | translate}}</span><span>216 City Road </span><span>Southbank VIC 3006</span>
                            <!--<span>42-48 Balston Street</span> <span>Southbank Melbourne</span><span>Victoria Australia</span>-->
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <i class="fa fa-envelope-o fa-lg" style="font-size:32px;"></i>
                            <span>{{'TXT_MELBOURNE' | translate}}</span>
                            <span><small><b>Kristine Tan</b> <i class="fa fa-mobile-phone" style="font-size:12px;"></i> 0421 240 369</small></span>
                            <span><small><i class="fa fa-envelope" style="font-size:12px;"></i> kristine@dynamicresidential.com.au </small></span>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <i class="fa fa-envelope-o fa-lg" style="font-size:32px;"></i>
                            <span>{{'TXT_SYDNEY' | translate}}</span>
                            <span><small><b>Rina Jiang</b> <i class="fa fa-mobile-phone" style="font-size:12px;"></i> 0406 179 902</small></span>
                            <span><small><i class="fa fa-envelope" style="font-size:12px;"></i> mq.rina@hotmail.com</small></span>
                        </p>

                    </div>
                    <!--<div class="col-md-3">
                        <p><i class="fa fa-envelope-o fa-lg" style="font-size:32px;"></i><span>Email us at</span><span>hello@marcoskies.com.au</span></p>
                    </div>-->
                </div>
                <div class="col-md-12 jt_row jt_row-fluid jt_col column_container">
                    <!--<h3 class="title thin">Let´s Chat!</h3>-->
                    <h3 class="title thin">{{'TXT_REGISTER' | translate}}</h3>
                </div>
                <div class="col-md-12 jt_row jt_row-fluid jt_col column_container">
                    <form action="mail.php" method="post" id="contactform" class="contact-form">
                        <div class="formReady">
                            <div class="col-md-4 col-md-offset-2">
                                <input type="text" id="name" name="name" placeholder="{{'TXT_NAME' | translate}}" class="required name" tabindex="1" />
                                <input type="email" id="email" name="email" placeholder="{{'TXT_CONTACT' | translate}}" tabindex="3" />
                            </div>
                            <div class="col-md-4">
                                <input type="text" id="contact" name="contact" placeholder="{{'TXT_EMAIL' | translate}}" class="required" tabindex="2" />
                                <input type="text" id="message" name="message" placeholder="{{'TXT_MESSAGE' | translate}}" tabindex="4" />
                                <!--<textarea id="message" name="message" cols="30" rows="4" placeholder="message" class="required area"></textarea>-->
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <input type="submit" class="btn btn-alt" value="{{'BTN_SUBMIT' | translate}}">
                            </div>
                        </div>
                        <div class="formSent"><strong>{{'TXT_MESSAGE_SENT' | translate}}</strong> {{'TXT_MESSAGE_THANKS' | translate}}</div>
                    </form>
                </div>
            </div> <!-- End .container -->
        </section>
        <!-- END CONTACT SECTION -->
        <!-- BEGIN LOGO SECTION -->
        <section id="logo" style="padding: 20px 0 40px 0; background-color:#fafafa">
            <div class="container">

                <div class="jt_row jt_row-fluid row" style="opacity:0.3;">
                    <div class="col-xs-4">
                        <div class="features__content"> <img class="img-responsive" src="images/logo/macro_logo_text_b_350.png" /></div>

                    </div>
                    <div class="col-xs-4">
                        <div class="features__content"> <img class="img-responsive" src="images/logo/macrosky_logo_text_350.png" /></div>
                    </div>
                    <div class="col-xs-4">
                        <div class="features__content"> <img class="img-responsive" src="images/logo/growland_logo_b_350.png" /></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END LOGO SECTION -->

        <footer id="footer" class="section footer" role="contentinfo">
            <div class="container">
                <div class="copyright">
                    © Copyrights 2015 Macro Skies, all rights reserved. <!--Terms of use  |  Privacy policy-->
                </div>
                <div class="logo--footer">
                    <a href="#">
                        <img src="images/logo/macro_logo_bg_126.png" alt="logo footer" />
                    </a>
                </div>
                <div class="go-to-top">
                    <a href="#">go to top</a>
                </div>

            </div>
        </footer>

    </div>

    <!-- BEGIN Scripts-->
    <script type="text/javascript" src="js/modernizr.custom.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="js/tweetie.min.js"></script>
    <script type="text/javascript" src="js/classie.js"></script>
    <script type="text/javascript" src="js/pathLoader.js"></script>
    <script type="text/javascript" src="js/gmaps.js"></script>
    <script type="text/javascript" src="js/owl-carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="js/jquery.inview.js"></script>
    <script type="text/javascript" src="js/waypoints.min.js"></script>
    <script type="text/javascript" src="js/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="js/jquery.nav.js"></script>
    <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="js/jquery.mb.YTPlayer.js"></script>
    <script type="text/javascript" src="js/jquery.form.js"></script>
    <script type="text/javascript" src="js/jquery.validate.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/default.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>
    <script type="text/javascript" src="js/angular-translate.min.js"></script>
    <script type="text/javascript" src="js/angular-translate-loader-static-files.min.js"></script>
    <!-- END Scripts -->
    <!-- START Angular -->
    <script src="app/macroApp.js"></script>
    <script src="app/macroConfig.js"></script>
    <script src="app/macroController.js"></script>
    <!-- END Angular -->

</body>
</html>
